@import "colors/colors.css";

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.6); /* Un fondo oscuro semitransparente para que destaque */
}

button {
    border-radius: 20px; /* Bordes redondeados estilo tarjeta */
    border: 2px solid @border;
    
    /* Tipografía */
    font-family: "CaskaydiaCove NFM", "monospace";
    font-size: 5rem;
    color: @text;
    background-color: @background-alt;
    
    /* Separación entre botones */
    margin: 20px;
    
    /* Transición suave */
    transition: all 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: @hover;
    border-color: @selected;
    color: @selected;
    outline-style: none;
    /* Efecto de iluminarse un poco al pasar el ratón */
    box-shadow: 0 0 10px 2px alpha(@selected, 0.3);
}

/* El botón de apagar en rojo */
#shutdown {
    color: @urgent;
}

#shutdown:hover {
    background-color: @urgent;
    color: @background;
}
