/* Kanagawa Wave Theme */
/* https://github.com/rebelot/kanagawa.nvim */

@define-color fujiWhite    #DCD7BA;
@define-color oldWhite     #C8C093;
@define-color sumiInk0     #16161D;
@define-color sumiInk1     #1F1F28;
@define-color sumiInk2     #2A2A37;
@define-color sumiInk3     #363646;
@define-color sumiInk4     #54546D;
@define-color waveBlue1    #223249;
@define-color waveBlue2    #2D4F67;
@define-color winterGreen  #2B3328;
@define-color winterYellow #49443C;
@define-color winterRed    #43242B;
@define-color winterBlue   #252535;
@define-color autumnGreen  #76946A;
@define-color autumnRed    #C34043;
@define-color autumnYellow #DCA561;
@define-color samuraiRed   #E82424;
@define-color roninYellow  #FF9E3B;
@define-color waveAqua1    #6A9589;
@define-color dragonBlue   #658594;
@define-color oldBlue      #7E9CD8;
@define-color oldGreen     #76946A;
@define-color oldOrange    #FFA066;
@define-color oldRed       #E46876;
@define-color oldYellow    #E6C384;
@define-color carpYellow   #E6C384;
@define-color sakuraPink   #D27E99;
@define-color waveAqua2    #7AA89F;
@define-color crystalBlue  #7E9CD8;
@define-color springViolet #938AA9;
@define-color oniViolet    #957FB8;
@define-color boatYellow1  #938056;
@define-color boatYellow2  #C0A36E;
@define-color springBlue   #7FB4CA;
@define-color lightBlue    #A3D4D5;
@define-color waveRed      #E46876;
@define-color peachRed     #FF5D62;
@define-color surimiOrange #FFA066;
@define-color katanaGray   #717C7C;

/* Global font */
* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @oldWhite;
  border-radius: 15px;
  background-color: @sumiInk1;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: @waveBlue2;
  background-color: @sumiInk1;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @sumiInk1;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @sumiInk1;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @fujiWhite;
  background-color: @sumiInk1;
}

#input image {
  border: none;
  color: @peachRed;
}

#input * {
  outline: 4px solid @peachRed !important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @fujiWhite;
}

#entry {
  background-color: @sumiInk1;
}

#entry arrow {
  border: none;
  color: @oldBlue;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @waveBlue2;
}

#entry:selected #text {
  color: @oldWhite;
}

#entry:drop(active) {
  background-color: @oldBlue !important;
}

